{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load ratings %}

<div class="masthead rounded">
  <div class="container mt-3">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-title my-2 mx-2">{{ review.title }}: by {{book.book_author}}</h1>
        <p class="review-subtitle my-2 mx-2">
          {{ review.user }} |
          {% if review.updated_on > review.created_on %}
          Updated on {{ review.updated_on|date:"F j, Y, g:i a" }}
          {% else %}
          Created on {{ review.created_on|date:"F j, Y, g:i a" }}
          {% endif %}
        </p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <!-- Optional image content for the masthead -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Main Row -->
  <div class="row mt-4">
    <div class="col-md-1"></div>
    <!-- Placeholder Image or Book Cover -->
    <div class="col-md-3 mt-3">
      {% if review.book.book_cover %}
      <img src="{{ review.book.book_cover.url }}" class="img-fluid rounded" alt="{{ review.title }}">
      {% else %}
      <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded" alt="Placeholder">
      {% endif %}
    </div>
    <!-- Review Content -->
    <div class="col-md-7">
      <div class="card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <div class="stars">
            <span><strong>Rating:</strong></span>
            {% for i in "12345" %}
            {% if forloop.counter <= review.rating %}
            <i class="fas fa-star text-warning"></i> <!-- Filled star -->
            {% else %}
            <i class="far fa-star text-warning"></i> <!-- Empty star -->
            {% endif %}
            {% endfor %}
          </div>
          <!-- Add Book Button -->
           <div>
          <form action="{% url 'add_to_read_list' book.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-book-add">Add to TBR</button>
             <!-- Like Review Button -->
            <button class="btn btn-outline-primary btn-sm like-review-btn" data-review-id="{{ review.id }}">
              <i class="fas {% if user in review.likes.all %}fa-thumbs-up{% else %}fa-thumbs-o-up{% endif %}"></i> 
            </button><span id="review-likes-{{ review.id }}">  {{ review.total_likes }}  </span>
          </form>
          {% endif %}
       
        </div>
          <hr>
          <!-- Review Content -->
          <p class="mt-3">{{ review.content | safe }}</p>
          {% if user == review.user %}
          <a href="{% url 'review_edit' slug=review.slug %}" class="btn btn-edit">Edit</a>
          <!-- Delete form -->
          <form method="post" action="{% url 'review_delete' slug=review.slug %}" style="display: inline"
            id="reviewDeleteForm">
            {% csrf_token %}
            <button type="button" class="btn btn-review-delete" data-slug="{{ review.slug }}" data-bs-toggle="modal"
              data-bs-target="#reviewDeleteModal">
              Delete
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }} Comments
      </strong>
      <hr />
    </div>
  </div>

  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3">
      <h3>Comments:</h3>
      <div class="card-body">
        {% for comment in comments %}
        <div class="p-2 comments">
          <p>
            <strong>{{ comment.user }}</strong>
            <span>{{ comment.created_on }}</span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.content | linebreaks }}
          </div>
          {% if comment.rating %}
          <p>
            Rating:
            {% for i in "12345" %}
            {% if forloop.counter <= comment.rating %}
            <i class="fas fa-star text-warning"></i> <!-- Filled star -->
            {% else %}
            <i class="far fa-star text-warning"></i> <!-- Empty star -->
            {% endif %}
            {% endfor %}
          </p>
          {% endif %}
          <!-- Like Comment Button -->
          <button class="btn btn-outline-secondary btn-sm like-comment-btn" data-comment-id="{{ comment.id }}">
            <i class="fas {% if user in comment.likes.all %}fa-thumbs-up{% else %}fa-thumbs-o-up{% endif %}"></i>
          </button>
          <span id="comment-likes-{{ comment.id }}">{{ comment.total_likes }}</span>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- New Comment Form -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-edit btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/edit_delete.js' %}"></script>
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}