{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4 my-4"> 
        {% for review in review_list %}
        <div class="col"> <!-- Each column for a card -->
            <a href="{% url 'review_detail' review.slug %}" class="text-decoration-none"> <!-- Anchor link wrapping the card -->
                <div class="card h-100 review-card"> <!-- Ensures all cards have equal height -->
                    {% if review.book.book_cover %}
                        {% cloudinary review.book.book_cover class="card-img-top" alt=review.title %}
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Default book cover">
                    {% endif %}
                    <div class="card-body">
                        <div class="image-flash">
                            <p class="author">Author: {{ review.user }}</p>
                        </div>
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p class="card-text">{{ review.excerpt }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if review.updated_on > review.created_on %}
                                Updated on {{ review.updated_on|date:"F j, Y, g:i a" }}
                            {% else %}
                                Created on {{ review.created_on|date:"F j, Y, g:i a" }}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mx-4 my-4"> <!-- Start a new row every 3 cards -->
        {% endif %}
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-lg btn-page">Prev</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link btn-lg btn-page">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}