@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1f1d5e;
    /* Dark Blue */
    --secondary-color: #91a5fe;
    /* Light Blue */
    --accent-color: #597ffc;
    /* Blue */
    --text-color: #e2e5f6;
    /* Light Gray */
    --highlight-color: #ff8695;
    /* Pink */
}

/* General Styles */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Raleway", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent-color);
    font-family: "Cabin", Arial, sans-serif;
}

p {
    color: var(--text-color);
}

.text-muted {
    font-weight: 200;
}

/* Navbar */

.nav {
    background-color: var(--bg-color);
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    z-index: 1;
}

.navbar .navbar-toggler {
    color: var(--accent-color);
}

.nav {
    text-align: center;
}

.navbar-toggler {
    float: none;
    margin-right: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    background-color: var(--bg-color);
    color: var(--text-color);

}

.nav-link,
.dropdown-item {
    color: var(--secondary-color);
    font-weight: bold;
}

.nav-link:hover,
.nav-link:active,
.dropdown-item:hover,
.dropdown-item:active {
    color: var(--highlight-color);
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: var(--accent-color);
}

/* Nav Spin */
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--accent-color);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-toggler:hover .icon-bar {
    background-color: var(--highlight-color);
}

.navbar-toggler .top-bar {
    transform: rotate(0);
}

.navbar-toggler .middle-bar {
    opacity: 1;
}

.navbar-toggler .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler:not(.collapsed) .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.hero-break {
    width: 75%;
    margin: 20px auto;
    border: 2px solid var(--text-color);
}

/* bg */
.light-bg {
    background-color: var(--secondary-color);
}

.dark-bg {
    background-color: var(--accent-color);
}

.main-bg {
    background-color: var(--bg-color);
}

/* Hero Video */
.header-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* Full width of the container */
    height: auto;
    aspect-ratio: 1/ 1;
    /* Keeps it proportional */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Ensure it fills the container */
    height: 100%;
    /* Ensure it fills the container */
    object-fit: cover;
    /* Maintains aspect ratio and covers the container */
}

.title-tagline {
    margin-top: 20px;
}

.tagline {

    font-family: "Raleway", Arial, sans-serif;
    color: var(--secondary-color);
    margin: 20px 10px 30px 0px;

}

/* Cards */

.card {
    border:none;
    background-color: transparent;
}

.index-card {
    border: 2px solid var(--secondary-color); /* Border Color */
    border-radius: 10px; /* Rounded Corners */
    margin: 20px auto; /* Margin Around Card */
    padding: 20px; /* Padding Inside the Card */
    background-color: #292a33; /* Card Background */
    transition: all 0.3s ease; /* Smooth Transition */
    text-align: left; /* Center Text in Cards */
}

.image-container {
    position: relative;
    
}


.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #e84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Buttons */

.btn-signup,
.btn-edit {
    background-color: var(--highlight-color);
    color: var(--bg-color);
    font-weight: bold;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.link {
    color: #23bbbb;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #e84610;
}

.btn-like:hover,
.btn-like:active {
    color: #e84610;
    background: transparent;
    border: none;
}

.stars i {
    font-size: 20px;
    margin-right: 3px;
}
.text-warning {
    color: #ffcc00;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Footer */

footer .social-border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust spacing as needed */
}

footer .social-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust spacing between icons */
}

footer .social-links li {
    display: inline-block;
}

footer .social-links li svg path {
    transition: fill 0.3s ease;
}

footer .social-links li:hover svg path,
footer .social-links li:active svg path {
    fill: var(--highlight-color); 
}
/* Media */

@media (max-width: 767px) {
    .navbar .container-fluid {
        flex-direction: column;
    }

    .navbar .container-fluid>div:first-child {
        width: 100%;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-brand {
        position: relative;
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .5rem;
    }


    .navbar-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }

    .navbar-text p {
    margin: 0;
    white-space: nowrap;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .header .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }

    .header .row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .header .col-md-6 {
        width: 50%;
        padding: 0 15px;
    }

    .header-video {
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1 / 1;
        object-fit: cover;

    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    
    .index-card {
        width: 100%; /* Ensure cards are wide enough */
    }
    .col-md-3 {
        flex: 0 0 48%; /* Ensure cards take up about 48% of the width */
        margin-right: 2%; /* Add spacing between cards */
    }
}

/* Media for  Laptop (1024px and up) */
@media (min-width: 1024px) {

    .litrpg-container {
        max-width: 80%; 
        margin: 0 auto;
    }
   
    .what-title {
        margin-top: 10%;
    }

    .what-title p {
        font-size: larger;
    }

    .index-card {
        width: 100%; /* Make cards full width in large screens */
    }
    .col-lg-3 {
        flex: 0 0 22%; /* Cards take up about 22% on large screens */
        margin-right: 2%; /* Add spacing between cards */
    }
    
}

