{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Banner -->
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 text-center">
            <img src="{% static 'images/toberead.png' %}" class="rounded img-fluid to-be-read-banner"
                alt="Your To Be Read List">
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 justify-content-center">
        {% for entry in tbr_books %}
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                <div class="card h-100 tbr-card">
                    <!-- Book Cover -->
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if entry.book.book_cover %}
                            <img src="{{ entry.book.book_cover.url }}" class="img-fluid tbr-book-cover rounded-start"
                                alt="{{ entry.book.book_title }}">
                            {% else %}
                            <img src="{% static 'images/default.jpg' %}" class="img-fluid tbr-book-cover rounded-start"
                                alt="Default Book Cover">
                            {% endif %}
                        </div>
                        <!-- Book Info -->
                        <div class="col-md-8">
                            <div class="card-body tbr-card">
                                <h5 class="card-title">{{ entry.book.book_title }}</h5>
                                <p class="card-text text-muted">by {{ entry.book.book_author }}</p>
                                <!-- Link to Original Review -->
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if entry.book.review %}
                                    <a href="{% url 'review_detail' entry.book.review.slug %}"
                                        class="btn btn-sm btn-login">Review</a>
                                    {% else %}
                                    <span class="text-muted">No Review</span>
                                    {% endif %}
                                    <!-- Delete Button -->
                                    <form action="{% url 'delete_from_tbr' entry.id %}" method="post"
                                        style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-signup m-2">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No books in your TBR list.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}