body {
    background-color: #1F1D5E;
    color: #E2E5F6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #597FFC;
}

p {
    color: #E2E5F6;
}

/* Navbar */

.nav {
    background-color: #1F1D5E;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    z-index: 1;
}

.navbar .navbar-toggler {
    color: #597FFC;
}

.nav {
    text-align: center;
}

.navbar-toggler {
    float: none;
    margin-right: 0
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.gravity-ui--bars {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23597FFC' fill-rule='evenodd' d='M1.25 3.25A.75.75 0 0 1 2 2.5h12A.75.75 0 0 1 14 4H2a.75.75 0 0 1-.75-.75m0 4.75A.75.75 0 0 1 2 7.25h12a.75.75 0 0 1 0 1.5H2A.75.75 0 0 1 1.25 8M2 12a.75.75 0 0 0 0 1.5h12a.75.75 0 0 0 0-1.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }

.dropdown-menu {
    background-color: #1F1D5E;
    color: #E2E5F6;
}

.nav-link, .dropdown-item {
    color: #91A5FE;
}

.nav-link:hover,
.nav-link:active,
.dropdown-item:hover,
.dropdown-item:active {
    color: #FF8695;
}
/* Nav Spin */
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #597FFC;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-toggler:hover .icon-bar {
    background-color: #FF8695; 
}


.navbar-toggler .top-bar {
    transform: rotate(0);
}

.navbar-toggler .middle-bar {
    opacity: 1;
}

.navbar-toggler .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler:not(.collapsed) .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

/* bg */
.light-bg {
    background-color: #91A5FE;
}

.dark-bg {
    background-color: #597FFC;
}

.main-bg {
    background-color: #1F1D5E;
}

/* Hero Video */
.header-video {
    position: relative;
    overflow: hidden;
    height: 500px;
    /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    object-fit: cover;
    /* Ensures the video covers the area */
    z-index: -1;
    /* Places the video behind other content */
}

.card {
    border: #E2E5F6 1px solid;
    background-color: transparent;
}

.index-card {
    border: #91A5FE 1px solid;
    background-color: rgba(51, 49, 114 0.2);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


.profile-image {
    width: 75%;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

@media (max-width: 767px) {
    .navbar .container-fluid {
        flex-direction: column;
    }
    .navbar .container-fluid > div:first-child {
        width: 100%;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .navbar-toggler {
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 0;
        margin-left: 15px; /* Adjust as needed */
    }
    .navbar .text-center.w-100 {
        text-align: left; /* Align text to the left */
    }
}