body {
    background-color: #1C1A32;
    color: #F09D57;
}

h2, h3, h4, h5, h6 {
    color: #F09D57
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #F09D57;
}

.thin {
    font-weight: 300;
}

.dark-bg {
    background-color: #44174E;
}

.main-bg {
    background-color: #1C1A32;;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #682149;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #F09D57;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #44174E;
    color:#F09D57;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #682149;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #E9BCB9;
}

.post-link:hover,
.page-link {
    color: #F09D57;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #F09D57
}

.btn-signup,
.btn-edit {
    background-color: #F09D57;
    color: #1C1A32;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #1C1A32;
    color: #44174E;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
